#addCar {
  width: 45%;
  float: left;
  color: blue;
  margin-left: 40px;
  border: 1px solid black;
}

#holdCars {
  width: 45%;
  float: right;
  margin-right: 40px;
  border: 1px solid black;
}

h1, h3 {
  text-align: center;
}

h3 {
  margin-bottom: 50px;
}
